h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.bp-full-w{
	width: 100%;
	height: auto;
	float: left; 
}

.apartadosArticulos{
	width: 30%;
	height: auto;
	float: left;
	text-align: center;
}

#pieDePagina{
	background-color: #333333;
	color: #FFF;
	height: 100%;
	overflow:hidden;
	clear: both;
	font-size: 12px;
}

.bp-col-2{
	width: 50%;
	height: auto;
	float: left;
}
.bp-wraper{
	width: 1280px;
	height: auto;
	margin: 0 auto;
}
.bp-right{
	text-align: right;
}

#pieDePagina img{
	width: 16px;
	height: 16px;
	margin: 2px 10px;
}

#pieDePagina a{
	text-decoration: none;
	color: #FFF;
	font-weight: 700;
}

.nav-link{
	cursor: pointer;
}

#cont1, #cont2, #cont3{
    background: white;
    display: flex;
    margin: auto;
    width: 50%;
    height: 8rem;
    padding: 2rem;
    
}

#botones{
    background:#564585; 
    color: white;
    text-decoration: none;
    align-content: center;
    width: 100%;
    text-align: center;
    box-shadow: 0rem 0.1rem 0rem 0rem black;

    
}

#a,#b{
    text-decoration: none;
    color: white;
    font-family: "Verdana";
    align-content: center;
    border: 0px 0px 5px 0px;   
}
#a:hover, #b:hover{
    text-decoration: none;
    color:white;
} 

#b{
position: absolute;
bottom: 34%;
left: 85%;
font-size: 1.2vw;
font-family: "Verdana";
}

#perfiladmin{
    background: black;
    color: white;
    text-decoration: none;
    margin: 1rem;
    height: 4rem;
}

.conteiner-fluid .row{
    background: white;
    margin: auto;
    width: 100%;
}
