form{
    width: 50%;
    border: 1px solid #ccc;
    margin: 0px 0px 0px 20%;
    padding: 20px;
    display: inline-block;
    position: relative;
    top: 30px;            
}
label{
    font-size: 12px;
    display: block;
    width: 100%;
    font-family: "Verdana";
}
input{
    margin-bottom: 0px;
    width: 100%;
    padding: 0px;
            
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    border: 10px solid #ccc;
    font-family: "Verdana";
}
input:focus, textarea:focus{
    border: 1px solid #1668C4;
}
input[type="submit"]{
    margin-bottom: 0;
    background: #1668C4;
    color: white;
    border: none;
}
input[type="submit"]:hover{
    background:#4A88F4;
    cursor: pointer;
}
textarea{
    resize: vertical;
    max-height: 300px;
    min-height: 200px;
}
#b{
    position: absolute;
    bottom: 34%;
    left: 86%;
    font-size: 1.2vw;
    font-family: "Verdana";
}
#a{
    position: absolute;
    bottom: 34%;
}    
#a,#b{
    text-decoration: none;
    color: white;
    font-family: "Verdana";
    align-content: center;
    border: 0px 0px 5px 0px;   
}
#a:hover, #b:hover{
    text-decoration: none;
    color:white;
}   
.conteiner{
    position: relative;
    top: 5rem; 
}
#card{
    width: 400px;
    margin: 7% 0px 10% 34%;
}