header{
    background: #2c3e50;
    color: #fff;
    text-align:left;
    position: relative;
    
}
#imagendos{
    border-radius: 100%;
    width: 5%;
    position: absolute;
    bottom: 1%;
    left: 80%;
}

#imagenuno{
    width: 5%;
}
#b{
position: absolute;
bottom: 34%;
left: 85%;
font-size: 1.2vw;
font-family: "Verdana";
}

#a,#b{
    text-decoration: none;
    color: white;
    font-family: "Verdana";
    align-content: center;
    border: 0px 0px 5px 0px;   
}
#a:hover, #b:hover{
    text-decoration: none;
    color:white;
}   
#botones{
    background:#564585; 
    color: white;
    text-decoration: none;
    align-content: center;
    width: 100%;
    text-align: center;
    box-shadow: 0rem 0.1rem 0rem 0rem black;

    
}
#perfiladmin{
    background: black;
    color: white;
    text-decoration: none;
    margin: 1rem;
    height: 4rem;
}


#cont1, #cont2, #cont3{
    background: white;
    display: flex;
    margin: auto;
    width: 50%;
    height: 8rem;
    padding: 2rem;
    
}
.conteiner-fluid .row{
    background: white;
    margin: auto;
    width: 100%;
}

/*pie de pagina*/
#pieDePagina a{
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
}

/*
#direccion, #firma{
    padding: 0px;
    display: inline;
    position: relative;
    top: 2rem;
    background: black;
    font-size: 1rem;

}

#numero, #redes{
    position: relative;
    top: 1rem;
    font-size: 1rem;
    background: black;
    display:inline;
}**/
.conteiner .row{
    background: pink;
}
.twi, #numero, #direccion, #firma, #redes, .face{
    display: inline;
    font-size: 1rem;

}
#direccion{
    position: relative;
    top: 6rem;
    right: 17rem;
}
#numero{
    position: relative;
    left: 1rem;
}
#firma{
    position: relative;
    top: 6rem;
    left: 15rem;
}
.twi .img-responsive, .face .img-responsive{
    width: 2rem;
    position: relative;
    left: 25rem;
}
.twi a,.face a{
    width: 2rem;
    position: relative;
    left: 23rem;
}

