



.direccion, .firma{
    padding: 0px;
    position: relative;
    bottom: 0px;
    font-size: 10px;
}

.numero, .redes{
    position: relative;
    top: 20px;
    font-size: 10px;
}
.bp-col-2{
	width: 50%;
	height: auto;
	float: left;
}
.bp-wraper{
	width: 1280px;
	height: auto;
	margin: 0 auto;
    
}
.bp-right{
	text-align: right;
}

#pieDePagina img{
	width: 16px;
	height: 16px;
	margin: 2px 10px;
}

#pieDePagina a{
	text-decoration: none;
	color: #FFF;
	font-weight: 700;
}