h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/*#bp-logo{
	background-color: #B9B7B3;
	
	width: 100%;
	height: 100%;
	float: left;
	overflow:hidden;
}

#bp-logo img{
	width: auto;
	height: 90%;
	overflow:hidden;
}*/

#presentacion {
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clear: both;
    float: left;
}

#presentacion h1 {
    font-size: 64px;
    line-height: 64px;
    color: #564585;
    margin-bottom: 40px;
    overflow: hidden;
    clear: both;
    width: 50%;
}

#presentacion h1 span {
    color: #689f38;
    overflow: hidden;
    clear: both;
    width: 50%;
}

#presentacion p {
    font-size: 18px;
    line-height: 26px;
    color: #222;
    overflow: hidden;
    clear: both;
    width: 50%;
}


/*
#presentacion img{
	width: auto;
	height: 100%;
	overflow:hidden;
	float: right; 
	margin: 0px 0px 15px 15px;
	vertical-align:middle;
}*/

#EjemplosPerfilesDeInversion {
    background-color: #564585;
    height: 100%;
    color: #FFF;
    overflow: hidden;
    clear: both;
}

.apartadosDeTitulos {
    width: 100%;
    height: auto;
    float: left;
}

.apartadosDeTitulos h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.bp-full-w {
    width: 100%;
    height: auto;
    float: left;
}

.apartadosArticulos {
    width: 30%;
    height: auto;
    float: left;
    text-align: center;
}

.apartadosArticulos ul {
    list-style-type: none;
    margin-top: 10px;
}

#apartadosBeneficios {
    background-color: #291d58;
    color: #FFF;
    height: 100%;
    overflow: hidden;
    clear: both;
}

#apartadosBeneficios figure {
    width: 25%;
    height: auto;
    float: left;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#apartadosBeneficios figure figcaption {
    margin-top: 20px;
}

#pieDePagina {
    background-color: #333333;
    color: #FFF;
    height: 100%;
    overflow: hidden;
    clear: both;
    font-size: 12px;
}

.bp-col-2 {
    width: 50%;
    height: auto;
    float: left;
}

.bp-wraper {
    width: 1280px;
    height: auto;
    margin: 0 auto;
}

.bp-right {
    text-align: right;
}

#pieDePagina img {
    width: 16px;
    height: 16px;
    margin: 2px 10px;
}

#pieDePagina a {
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
}

#invertir {
    color: #F33D1F;
    cursor: url(../imagenes/Red8.cur), auto;
}

.nav-link {
    cursor: pointer;
}

.nav-pills .nav-item {
    background-color: #564585;
}

.nav-pills .nav-link {
    background-color: #564585;
    color: white
}

tr:nth-child(even) {
    background-color: #c9bee7
}

tr:nth-child(odd) {
    background-color: #b59ff0
}